<div class="card-body">
    <form (submit)="postCalificar()">

        <div class="form-group">
            <textarea 
            rows="1" 
            [(ngModel)]="calificar.evaluationDocumentId" 
            name="evaluationDocumentId" 
            class="form-control" 
            placeholder="IDENTIFICADOR DEL DOCUMENTO" 
            maxlength="250" 
            required autofocus>
            </textarea>
        </div>

        <div class="form-group">
            <h5>¿Cual es el porcentaje de citación aproximado del documento?</h5>
            <select class="form-control"  [(ngModel)]="calificar.evaluationDocumentStructure" name="evaluationDocumentStructure"(change)="calificarEstructura($event.target.value)">
                <option value="1" selected>Entre 0 y 10%</option>
                <option value="2" selected>Entre 11% y 20%</option>
                <option value="3" selected>Entre 21 y 30%</option>
            </select> 
        </div>

        <div class="form-group">        
            <h5>La formulación del informe cuenta con una coherencia que permite la comprensión del lector</h5>
            <select class="form-control"  [(ngModel)]="calificar.evaluationDocumentCoherence" name="evaluationDocumentCoherence"(change)="calificarCoherencia($event.target.value)">
                <option value="1" selected>No cumple</option>
                <option value="2" selected>Cumple parcialmente</option>
                <option value="3" selected>Cumple totalmente</option>
            </select> 
        
        
        
        
        
        </div>
        <div class="form-group">

            <h5>Cantidad de integrantes que realizaron el documento</h5>
            <select class="form-control"  [(ngModel)]="calificar.evaluationDocumentAuthorship" name="evaluationDocumentAuthorship"(change)="calificarAutoria($event.target.value)">
                <option value="1" selected>Solo uno</option>
                <option value="2" selected>Un colectivo</option>
                <option value="3" selected>Un colectivo con colaboración de un profesional o uno con colaboración de un profesional</option>
            </select>

        </div>
        <div class="form-group">

        
            <h5>Origen de las fuentes citadas dentro del documento</h5>
            <select class="form-control"  [(ngModel)]="calificar.evaluationDocumentTypeOfFonts" name="evaluationDocumentTypeOfFonts"(change)="calificarFuente($event.target.value)">
                <option value="1" selected>Informales</option>
                <option value="2" selected>Informales y formales</option>
                <option value="3" selected>Formales</option>
            </select>
        
        
        </div>
        <div class="form-group">        
            <h5>¿El documento cumple con los objetivos planteados?</h5>
            <select class="form-control"  [(ngModel)]="calificar.evaluationDocumentUtility" name="evaluationDocumentUtility"(change)="calificarUtilidad($event.target.value)">
                <option value="1" selected>No cumple</option>
                <option value="2" selected>Cumple parcialmente</option>
                <option value="3" selected>Cumple totalmente</option>
            </select>
        </div>
        <button class="btn btn-success btn-block">
        <b>CALIFICAR DOCUMENTO</b>
        </button>
    </form>
</div>
